$maincolor: midnightblue;
$contrastcolor: yellow;

@mixin yellow-text-midnightblue-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

nav,
.indexHead {
  @include yellow-text-midnightblue-bg;
}

a {
  @include yellow-text-midnightblue-bg;
  margin: 10px;
  font-size: large;
}

body {
  background-color: midnightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 400px;
  max-height: 600px;
}

.indexForm {
  text-align: center;
  @include yellow-text-midnightblue-bg()
}

.main {
  text-align: center;
  @include yellow-text-midnightblue-bg;
  display:inline-flex;
  flex: none;
}